# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Font files (since they're now on CDN)
fonts/ 